@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --blue: hsl(258, 83%, 45%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

img {
  width: 100%;
}

p a{
    color: var(--blue);
}

.content__block {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
  place-items: center;
  margin: 1rem;
  padding: 1rem;
}

.brand__name{
    padding: 2rem 0;
    font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.form__header {
  font-size: 2.1em;
}

.name__block,
.email__block,
.passcode__block {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0;
}

form label {
  font-size: 1.39em;
  padding: 0.2rem 0;
}

form input {
  padding: 0.8rem;
  font-size: 1.39em;
  border: .1rem solid gray;
  border-radius: .3rem;
}

.terms {
  font-size: 1.39em;
  padding: 0.4rem 1.2rem;
}

.from__action__btn {
  margin: 0.8rem 0;
  padding: 1rem;
  font-size: 1.39em;
  outline: none;
  border: none;
  border-radius: .3rem;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.from__action__btn:hover{
    opacity: 0.7;
    transition: 1ms all;
}

.signin{
    text-align: center;
    font-size: 1.39em;
}

.form__img__section {
  display: none;
}

@media (min-width: 540px) and (max-width: 915px){
    .content__block{
        margin: 4rem;
        padding: 4rem;
    }
}


@media (min-width: 1000px){
    .content__block{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }

    form{
        padding: 0 6rem;
    }

    .form__img__section{
        display: flex;
        flex-direction: column;
        padding: 6rem;
        background-color: var(--blue);
    }

    .text__content__container{
        text-align: center;
        padding: 2rem 4rem;
        color: white;
    }

    .text__content__container h3{
        font-size: 1.6em;
        padding: .5rem 0;
    }

    .text__content__container p{
        font-size: 1.1em;
    }

    .btn__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;
    }

    button[title="select"]{
        border-radius: 50%;
        padding: .4rem;
        background-color: rgb(230, 224, 224);
        outline: none;
        border: none;
        cursor: pointer;
    }

    button[title="select"]:active, :focus{
        background-color: white;
    }
}